html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url("https://i-h1.pinimg.com/564x/c5/7f/4c/c57f4c4196922b0b8999bd92d4dfc22b.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    border-radius: 15px;


}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

#submit {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#submit:hover {
    background-color: #3e8e41
}

#submit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    width: 70%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

input {
    border-radius: 15px;
    background-color: bisque;
}

label {
    font-size: 20px;
}

.change-devour {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;

}

.change-devour:hover {
    background-color: #3e8e41
}

.change-devour:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}